<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	id="cordova-plugin-honeywell-aidc" 
	version="0.1.0">

	<name>Honeywell AIDC Barcode Scanner</name>
	<description>Honeywell TC50/D75E Barcode Scanner</description>
	<license>???</license>
	<keywords>cordova, honeywell, aidc, scanner, plugin</keywords>

	<js-module src="www/aidc.js" name="aidc">
		<clobbers target="navigator.aidc" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="com.honeywell.decode.permission.DECODE" />
		</config-file>
		
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="HoneywellAidc">
				<param name="android-package" value="com.lexitgroup.honeywell.Aidc" />
			</feature>
		</config-file>
		
		<source-file src="src/android/libs/HoneywellAidc.jar" target-dir="libs" />
		
		<source-file src="src/android/Aidc.java" target-dir="src/com/lexitgroup/honeywell" />
	</platform>

</plugin>